  .signup-container {
    display: flex;
    min-height: 100vh;
    margin: 0;
    padding: 0;
    
  }
  
  /* Left Side */
  .signup-left-side {
    position: relative;
    width: 66%;
    overflow: hidden;
    z-index:1;
  }
  
  .signup-background-video {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    opacity: 0.6;
    z-index: -1; /* Puts the video behind the content */
  }
  
  .signup-left-side .signup-content {
    position: relative;
    z-index: 1;
    padding-left: 160px;
    color: white;
    padding-top: 240px;
  }
  
  .signup-left-side h1 {
    font-size: 2.0rem;
    color: var(--Dark-Blue, #24223e);
    font-family: "Raleway", serif;
  }
  
  .signup-left-side h2 {
    font-size: 3.2rem;
    margin: 10px 0;
    color: #102039;
    font-family: "Raleway", serif;
  }

  .vcodeSignup{
    font-family: "Raleway", serif;
    color: var(--Dark-Blue, #24223e);
  }

  .letterVsignup{
    background: linear-gradient(99deg, #45c4f9, #7d09ff 50.33%, #ff0be5);
   -webkit-background-clip: text;
   -webkit-text-fill-color: transparent;
  }
  
  .vcodeSignup:hover{
    background: linear-gradient(99deg, #45c4f9, #7d09ff 50.33%, #ff0be5);
   -webkit-background-clip: text;
   -webkit-text-fill-color: transparent;
   .letterVsignup{
    background: var(--Dark-Blue, #24223e);
   -webkit-background-clip: text;
   -webkit-text-fill-color: transparent;
  }
  }

  .signup-left-side p {
    font-size: 1.5rem;
    color:#24223e;
    font-family: "Raleway", serif;
  }
  
  /* Right Side */
  .signup-right-side {
    width: 34%;
    padding: 40px;
    padding-left: 100px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color: #ffffff;
    position: relative;
  }
  
  .signup-right-side h1 {
  font-size: 2.6rem;
  color: var(--Dark-Blue, #434d5f);;
  font-family: "Raleway", serif;
  font-style: medium;
  }
  
  .signup-right-side h2 {
    font-size: 1.8rem;
    font-family: "Raleway", serif;
    color: #434d5f;
  }
  
  .signup-right-side p {
    font-size: 1.2rem;
    font-family: "Raleway", serif;
    color: #434d5f;
  }
  
  .signup-form {
    margin: 20px 0;
    position: relative; /* Ensure content has a default z-index */
    z-index: 1;
  }
  
  .signup-input-field {
    width: 90%;
    padding: 10px;
    margin: 10px 0;
    border: 1px solid #ceceea;
    box-shadow: 0 0 15px rgba(13, 21, 56, 0.1);
    font-family: "Raleway", serif;
    border-radius: 4px;
    font-size: 16.5px;
    color:#000;
  }
  
  .signup-input-field::placeholder {
    color: #939393; /* Placeholder color */
    opacity: 1; /* Full opacity */
  }
  
  .signup-input-field:focus {
    outline: none; /* Remove the outline on focus */
  }
  
  .signup-button {
    width: 95%;
    padding: 10px;
    background-color: #7167f5;
    color: #ffffff;
    border:none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 16.5px;
    transition: background-color 0.3s;
    box-shadow: 0 4px 4px 0 rgba(37, 54, 109, 0.04);
  }
  
  .signup-button:hover {
    background-color: #5046de;
  }
  
  .signup-login {
    text-align: center;
    font-family: "Raleway", serif;
    z-index: 1;
    margin-top: 1px;
  
  }
  
  .signup-login a {
    color: #113056;
   font-weight: bold;
  }
  