.homeContainer {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  max-height: 100vh;
}

.navbar {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 40px;
  padding: 40px 40px;
  font-family: Arial, sans-serif;
  position: sticky;
  top: 0;
  z-index: 100;
  
}

.logoNav{
  height: 55px;
  width: 190px;
  border: 1px solid #c4c4e1;
  border-radius: 15px;
  display: flex;
  color: #302e53;
  box-shadow: 0 0 15px rgba(13, 21, 56, 0.1);
  background-color: white;
  position: fixed;
  left: 80px;
  top: 40px;
}

.navLogo1{
  height: 45px;
  width: 90px;
  font-size: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 3px;
  font-family: "Raleway", serif;
  font-weight: 250;
  
}

.navLogo2{
  height: 55px;
  width: 70px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-left: 10px;
  font-size: 13px;
  font-family: "Raleway", serif;
}

.vcodeNav{
  font-family: "Fira Sans", serif;
  color: var(--Dark-Blue, #24223e);
  font-size: 25px;
  font-weight: 600;
  margin-left:30px ;
}

.letterVnav{
  background: linear-gradient(99deg, #45c4f9, #7d09ff 50.33%, #ff0be5);
 -webkit-background-clip: text;
 -webkit-text-fill-color: transparent;
}

.vcodeNav:hover{
  background: linear-gradient(99deg, #45c4f9, #7d09ff 50.33%, #ff0be5);
 -webkit-background-clip: text;
 -webkit-text-fill-color: transparent;
 .letterVnav{
  background: var(--Dark-Blue, #24223e);
 -webkit-background-clip: text;
 -webkit-text-fill-color: transparent;
}
}

.choiceNav{
  height: 55px;
  width: 300px;
  
  border-radius: 15px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #302e53;
  font-size: 20px;
  font-family: "Fira Sans", serif;
  font-weight: 400;
  gap: 25px;
  position:fixed;
  margin-top: 80px;
  background-color: white;
}

.choiceNav a{
  text-decoration: none;
  color: #24223e;
  height: 43px;
  width: 80px;
  background-color:#ffff ;
  border-radius: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: background-color 0.2s;
}

.choiceNav a:hover{
  
  background-color:#dad7f2  ;

}

.loginSignup{
  height: 55px;
  width: 165px;
  border: 1px solid #c4c4e1;
  border-radius: 15px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #302e53;
  font-size: 18px;
  font-family: "Fira Sans", serif;
  font-weight: 400;
  box-shadow: 0 0 15px rgba(13, 21, 56, 0.1);
  
  background-color: white;
  position: fixed;
  right: 80px;
  top: 40px;
}

.loginSignup a{
  text-decoration: none;
  
  height: 39px;
  width: 75px;
  background-color:#ffff ;
  border-radius: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: background-color 0.2s;
}



.navLink3 {
  background: linear-gradient(99deg, #55c1ef , #7d09ff 80.33%, #ff0be5);
  color: #ffff;
}

.navLink3:hover{
  background: linear-gradient(270deg, #55c1ef , #7d09ff 80.33%, #ff0be5);
}

.navLink2:hover{
  text-decoration:underline;
}

.homeSection{
  
  width: 100%;
  height: 350px;
  
  align-items: center;
}

.homeSection h2{
  font-size: 37px;
  color: #24223E;
  font-family: "Raleway", serif;
  display: flex;
  justify-content: center;
  padding-top: 10px;
  
}

.homeSection p {
  font-size: 21px;
  color: #24223E;
  margin-top: -5px;
  padding: 0px 190px;
  text-align: center;
  line-height: 38px;
  
}

.homeSection p b{
  font-weight: 600;
}

.a3{
  width: 100%;
  height: 920px;
  margin-top: 120px;
}

.a3 h2{
  text-align: center;
  color: #24223E;
  font-family: "Raleway", serif;
  font-size: 37px;
}

.a3 h3 {
  display: flex;
  justify-content: center;
  gap: 40px;
  font-family: "Raleway", serif;
  font-size: 22px;
  font-weight: 600;
  
}

.a3 h3 span{
  background: #8d89ac;
 -webkit-background-clip: text;
 -webkit-text-fill-color: transparent;
 transform: 1s;
}

.a3 h3 span:hover{
  background: linear-gradient(99deg, #45c4f9, #7d09ff 50.33%, #ff0be5);
 -webkit-background-clip: text;
 -webkit-text-fill-color: transparent;
}

.shape1{
  height: 300px;
  width: 300px;
  border: 1px solid #FE934E;
  transform: rotate(45deg);
  position: absolute;
  top: 800px;
  left: 620px;
  border-radius: 20px;
  text-align: center;
  background-color: white;
  z-index: 2;
}

.shape1 img{
  transform: rotate(-45deg);
  height: 230px;
  margin-top: 40px;
  margin-right: 40px;
}

.shape1:hover{
  box-shadow: 0px 0px 15px #f7aa77;
  
  
}


.shape2{
  height: 300px;
  width: 300px;
  border: 1px solid #39e41a;
  transform: rotate(45deg);
  position: absolute;
  top: 950px;
  left: 620px;
  border-radius: 20px;
  text-align: center;
  background-color: white;
  z-index: 1;
}

.shape2 img{
  transform: rotate(-45deg);
  height: 230px;
  margin-top: 40px;
  margin-right: 40px;
  transition: all 0.3s;
}

.shape2:hover{
  
  z-index: 3;
  box-shadow: 0px 0px 15px #9bf18b;
}

.shape3{
  height: 300px;
  width: 300px;
  border: 1px solid #FF073A;
  transform: rotate(45deg);
  position: absolute;
  top: 1100px;
  left: 620px;
  border-radius: 20px;
  text-align: center;
  background-color: white;
}

.shape3 img{
  transform: rotate(-45deg);
  height: 230px;
  margin-top: 40px;
  margin-right: 40px;
}

.shape3:hover{
  z-index: 3;
  box-shadow: 0px 0px 15px #fd6785;
}

.hoverMessage1 {
  visibility: visible;
  width: 600px; /* Adjust width as needed */
  background-color: rgba(36, 34, 62,0.7); /* Set the background color */
  color: #fff; /* White text color for contrast */
  text-align: center;
  padding: 10px;
  border-radius: 5px;
  position: absolute;
  top: 300px;
  left: 40px;
  transform: rotate(-45deg);
  z-index: 1;
  opacity: 0;
  transition: opacity 0.3s;
  font-size: 18px;
  font-family: "Raleway", serif;
  line-height: 30px;
}

.shape1:hover .hoverMessage1 {
  visibility: visible;
  opacity: 1;
}
.hoverMessage2 {
  visibility: visible;
  width: 600px; /* Adjust width as needed */
  background-color: rgba(36, 34, 62,0.7); /* Set the background color */
  color: #fff; /* White text color for contrast */
  text-align: center;
  padding: 10px;
  border-radius: 5px;
  position: absolute;
  top: 300px;
  left: 40px;
  transform: rotate(-45deg);
  z-index: 1;
  opacity: 0;
  transition: opacity 0.3s;
  font-size: 18px;
  font-family: "Raleway", serif;
  line-height: 30px;
}

.shape2:hover .hoverMessage2 {
  visibility: visible;
  opacity: 1;
}
.hoverMessage3 {
  visibility: visible;
  width: 600px; /* Adjust width as needed */
  background-color: rgba(36, 34, 62,0.7); /* Set the background color */
  color: #fff; /* White text color for contrast */
  text-align: center;
  padding: 10px;
  border-radius: 5px;
  position: absolute;
  top: 300px;
  left: 40px;
  transform: rotate(-45deg);
  z-index: 1;
  opacity: 0;
  transition: opacity 0.3s;
  font-size: 18px;
  font-family: "Raleway", serif;
  line-height: 30px;
}

.shape3:hover .hoverMessage3 {
  visibility: visible;
  opacity: 1;
}

footer {
  margin-top: auto;
  color: #302e53;
  padding: 40px 20px;
  text-align: center;
  bottom: 0;
  font-family: "Raleway", serif;
}

.footer-content {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  margin-bottom: 20px;
  gap: 20px;
}

.footer-section {
  flex: 1;
  min-width: 250px;
  margin: 0 15px;
  box-sizing: border-box;
  padding: 10px;
}

.footer-section h2 {
  font-size: 20px;
  margin-bottom: 15px;
  font-weight: bold;
  color: #302e53;
  border-bottom: 1.5px solid #d8d8ee;
  font-weight: 550;
  padding-bottom: 10px;
}

.footer-section p {
  font-size: 18px;
  font-weight: 300;
  line-height: 1.6;
  margin: 10px 0;
  font-weight: 400;
}

.footer-section a {
  color: #302e53;
  text-decoration: none;
}

.footer-section a:hover {
  text-decoration: underline;
}

.social-links {
  display: flex;
  justify-content: center;
  gap: 15px;
}

.social-icon img {
  width: 30px;
  height: 30px;
  transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.social-icon:hover img {
  transform: scale(1.1);
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.footer-bottom {
  border-top: 1.5px solid #d5d5e9;
  padding-top: 15px;
  font-size: 1.0em;
}

.footer-bottom p {
  margin: 0;
  color: #302e53;
}