.login-body {
  margin: 0;
  padding: 0;
  min-height: 100vh;
  position: relative; 
}

.login-body .container {
  display: flex;
  height: 100vh;
}

/* Left Side */
.login-body .left-side {
  position: relative;
  width: 66%;
  overflow: hidden;
  z-index: 1;
}

.login-body .background-video {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  opacity: 0.6;
  z-index: -1; /* Puts the video behind the content */
}

.login-body .left-side .content {
  position: relative;
  z-index: 1;
  padding-left: 160px;
  color: white;
  padding-top: 240px;
}

.login-body .left-side h1 {
  font-size: 2.0rem;
  color: var(--Dark-Blue, #24223e);
  font-family: "Raleway", serif;
}

.login-body .left-side h2 {
  font-size: 3.2rem;
  margin: 10px 0;
  color:#102039;
  font-family: "Raleway", serif;
}

.vcodeLogin{
  font-family: "Raleway", serif;
  color: var(--Dark-Blue, #24223e);
}

.letterVlogin{
  background: linear-gradient(99deg, #45c4f9, #7d09ff 50.33%, #ff0be5);
 -webkit-background-clip: text;
 -webkit-text-fill-color: transparent;
}

.vcodeLogin:hover{
  background: linear-gradient(99deg, #45c4f9, #7d09ff 50.33%, #ff0be5);
 -webkit-background-clip: text;
 -webkit-text-fill-color: transparent;
 .letterVlogin{
  background: var(--Dark-Blue, #24223e);
 -webkit-background-clip: text;
 -webkit-text-fill-color: transparent;
}
}

.login-body .left-side p {
  font-size: 1.5rem;
  color:#24223e;
  font-family: "Raleway", serif;
}



/* Right Side */
.login-body .right-side {
  width: 34%;
  padding: 40px;
  padding-left: 100px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  background-color: #ffffff;
  position: relative; /* Add position relative */
}

.login-body .right-side h1 {
  font-size: 2.8rem;
  color: var(--Dark-Blue, #434d5f);;
  font-family: "Raleway", serif;
  font-style: medium;
}

.login-body .right-side h2 {
  font-size: 1.8rem;
  font-family: "Raleway", serif;
  color: #434d5f;
}

.login-body .right-side p {
  font-size: 1.2rem;
  font-family: "Raleway", serif;
  color: #434d5f;
}

.login-body .login-form {
  margin: 20px 0;
  position: relative; /* Ensure content has a default z-index */
  z-index: 1;
}

.login-body .input-field {
  width: 90%;
  padding: 10px;
  margin: 10px 0;
  border: 1px solid #ceceea;
  box-shadow: 0 0 15px rgba(13, 21, 56, 0.1);
  font-family: "Raleway", serif;
  border-radius: 4px;
  font-size: 16.5px;
  color:#000;
}

.login-body .input-field::placeholder {
  color: #939393; /* Set your desired placeholder color here */
  opacity: 1; /* Optional: to ensure the placeholder is fully opaque */
}

.login-body .input-field:focus {
  outline: none; /* Remove the outline on focus */
  
}

.login-body .options {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 20px;
}

.login-body .options a {
  color: #888;
  text-decoration: none;
}

.login-body .login-button {
  width: 95%;
  padding: 10px;
  background-color: #7167f5;
  color: #ffffff;
  border:none;
  border-radius: 4px;
  cursor: pointer;
  font-size: 16.5px;
  transition: background-color 0.3s;
  box-shadow: 0 4px 4px 0 rgba(37, 54, 109, 0.04);
}

.login-body .login-button:hover{
  background: #5046de;
  
}

.login-body .signup {
  text-align: center;
  font-family: "Raleway", serif;
  z-index: 1;
  margin-top: 35px;
}

.login-body .signup a {
  color: #113056;
  font-weight: bold;
}

.trapezium {
  width: 410px;
  height: 320px;
  background-color: #ff0be5;
  border-top-right-radius:100% ;
  
    
  position: absolute; /* Position it absolutely */
  bottom: 0; /* Align to the bottom of the right-side */
  left: 0%;
  background: linear-gradient(93deg, #FFFFFF, rgba(175, 129, 249,0.7));
  opacity: 0.5;
  z-index: 0.2; /* Keep this at 0 or a lower positive value */
  
}
.trapezium2 {
  width: 280px;
  height: 250px;
  background: linear-gradient(93deg, rgba(241, 170, 251, 0.7), #FFFFFF);
  border-top-left-radius:100% ;
  position: absolute; /* Position it absolutely */
  bottom: 0; /* Align to the bottom of the right-side */
  right: 0%;
  /* Center horizontally */
  z-index: 0.1; /* Keep this at 0 or a lower positive value */
  
}



